<div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">Organizer</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right" ng-show="isLoggedIn">
                <li>
                    <a class="href-btn">Hello, {{ username | uppercase }}</a>
                </li>
                <li>
                    <a href="#/login" ng-controller="LogoutCtrl" ng-click="logout()">Log out</a>
                </li>
            </ul>
        </div>
      </div>
    </nav>
</div>

