<div class="container" id="login-body">
    <h1 class="text-center app-header">Organizer Wep App</h1>
    <div class="row">
        <div class="col-md-6 col-md-offset-3" ng-controller="LoginCtrl">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" name="logInForm" method="post" role="form" style="display: block;">
                                <div class="form-group">
                                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username"
                                           ng-trim=""
                                           ng-minlength="2"
                                           ng-maxlength="20"
                                           required=""
                                           ng-model="username">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password"
                                           ng-minlength="6"
                                           ng-maxlength="20"
                                           required="" 
                                           ng-model="password">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-primary" value="Log In"
                                                   ng-disabled="logInForm.$pristine || logInForm.$invalid"
                                                   ng-click="login()">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form name="registerForm" id="register-form" role="form" style="display: none;">
                                <div class="form-group"
                                     ng-class="{'has-error' : registerForm.username.$invalid && registerForm.username.$touched}">

                                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username"
                                           ng-trim=""
                                           ng-minlength="2"
                                           ng-maxlength="20"
                                           required=""
                                           ng-model="username">

                                    <p class="help-block"
                                       ng-show="registerForm.username.$error.required && registerForm.username.$touched">
                                        Username is required.
                                    </p>
                                    <p class="help-block"
                                       ng-show="registerForm.username.$error.minlength && registerForm.username.$touched">
                                        Username is too short.
                                    </p>
                                    <p class="help-block"
                                       ng-show="registerForm.username.$error.maxlength && registerForm.username.$touched">
                                        Username is too long.
                                    </p>

                                </div>
                                <div class="form-group"
                                     ng-class="{'has-error' : registerForm.password.$invalid && registerForm.password.$touched}">

                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password"
                                           ng-minlength="6"
                                           ng-maxlength="20"
                                           required=""
                                           ng-model="password">

                                    <p class="help-block"
                                       ng-show="registerForm.password.$error.required && registerForm.password.$touched">
                                        Us is required.
                                    </p>
                                    <p class="help-block"
                                       ng-show="registerForm.password.$error.minlength && registerForm.password.$touched">
                                        Password is too short.
                                    </p>
                                    <p class="help-block"
                                       ng-show="registerForm.password.$error.maxlength && registerForm.password.$touched">
                                        Password is too long.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password"
                                           ng-minlength="6"
                                           ng-maxlength="20"
                                           required=""
                                           ng-model="confirmPassword">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-success" value="Register Now"
                                                   ng-disabled="registerForm.$pristine || registerForm.$invalid || password != confirmPassword"
                                                   ng-click="register(username, password, confirmPassword)">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script>
    $('#login-form-link').click(function (e) {
        $("#login-form").delay(100).fadeIn(100);
        $("#register-form").fadeOut(100);
        $('#register-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
    });
    $('#register-form-link').click(function (e) {
        $("#register-form").delay(100).fadeIn(100);
        $("#login-form").fadeOut(100);
        $('#login-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
    });
</script>-->